<mat-grid-list cols={{numCols}} rowHeight="33em" (window:resize)="onWindowResize($event)">
  <mat-grid-tile><app-sum-column [numOfSums]="10" [operator]="'+'"></app-sum-column></mat-grid-tile>
  <mat-grid-tile><app-sum-column [numOfSums]="10" [operator]="'-'"></app-sum-column></mat-grid-tile>
  <mat-grid-tile><app-sum-column [numOfSums]="10" [operator]="'+'"></app-sum-column></mat-grid-tile>
  <mat-grid-tile><app-sum-column [numOfSums]="10" [operator]="'-'"></app-sum-column></mat-grid-tile>
  <mat-grid-tile><app-sum-column [numOfSums]="10" [operator]="'+'"></app-sum-column></mat-grid-tile>
  <mat-grid-tile><app-sum-column [numOfSums]="10" [operator]="'-'"></app-sum-column></mat-grid-tile>
</mat-grid-list>
